body{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #868585;
	background: #fdfcfb;
	font-weight: normal;
}
img{
	max-width:100%;
	height: auto;
}
	
header{
	background: radial-gradient(at 65% 50% ,#ebf1f6, #1e69de);
	
	min-height:700px;
}
strong{
	    display: block;
    font-size: 35px;
    text-transform: uppercase;
    font-family: "RobotoLight";
    color: #fff;
    font-weight: 100;
}
.row{
	padding: 0 15%;
}
.top_line{
	min-height: 111px;
	
	width:100%;
	background-color: rgba(0,0,0,0.35);
}
.main_logo{
	    padding: 25px 0 0 30px;
	    line-height: 26px;
}
.lowerdescr_logo{
	font-family:"RobotoBold";
	font-size: 31px;
	color:#ffd400;
}
.paragraph_mid_descr {
    font-size: 14px;
    text-align: center;
    color:#fff;
    line-height:18px;
    margin: 0;
    padding: 25px 0 0 0;

}
.paragraph_mid_descr>span{
	color: rgba(255, 212, 0,1);
}
.right_info>p{
	padding: 15px 0 0;
    margin: 0;
    float: right;
    font-size: 19px;
    color: #fff;
    line-height: 21px;
}
.right_info>p.minidescription{
padding: 0;
font-size:10px;
line-height:10px;
}
.button{
	background-color: #ffd400;
    border: medium none;
    border-radius: 5px;
    color: black;
    display: block;
    padding: 10px 20px;
    font-family: "RobotoMedium";
    text-transform: uppercase;
    float: right;
    padding: 5px 14px;
    margin-top: 5px;
    font-size:13px;
}
.middle_line{
	min-height: 85px;
	   background-color: rgba(0,0,0,0.04);
}
header h1{
	margin: 0;
    font-size: 30px;
    padding-top: 15px;
    color: #fff;
    font-weight:100;
}
.imagewrapper{
	    margin-top: 20px;
}
.descrunderh1{
	text-align: center;
    font-size: 15px;
    margin: 0;
    color: #fff;
}
.wrapperform{
	text-align:center;
	background: #ffd400;
    position: relative;
    color:black;
     margin-top:20px;
    border-radius: 5px;
}
.wrapperform::after{
	content: ''; 
    position: absolute;
    right: 0; 
    top: 68px;
    border: 123px solid transparent;
    border-top: 20px solid #ffd400;;
}
.wrapperform > p{
	font-size: 15px;
    padding: 6px 26px 0;
    font-family: "RobotoMedium";
}
.wrapperform > p > span{
	font-family: "RobotoBold";
}
.field{
	display: block;
	width: 100%;
	border-radius: 5px;
	margin: 10px 0;
	padding: 5px;
}
.name{
	margin-top: 35px;
}
.main_button{
	background-color:#2bc6a4;
	width: 90%;
    font-size: 14px;
    color: #fff;
    margin: 0 5%;
}
.lowerdescrform{
	margin: 0;
    font-size: 11px;
    text-align: center;
    color: #fff;
}
.border_wrapperform{
	background-color:
	rgba(238, 238, 238, 0.2);
	border-radius: 5px;	
}
table{
	border: 1px solid black;
    width: 100%;
    margin: 20px auto 10px;
    text-align: center;
    border-radius: 5px;
    border-collapse: separate;
}
table > p{
	margin: 0;
}
.descrleftcol {
    font-size: 19px;
    color: black;
    font-weight: bold;
    margin: 5px 15px;
}
.leftcol{
	border-right:1px solid black;
	background-color: rgba(198,193,43,0.15);
}
.number2{
	background-color: rgba(43, 127, 198, 0.15);
}
.number2 > img{
	margin-bottom: 15px;
	
}
.number3{
	background-color: rgba(198, 43, 43, 0.15);
}
.number3 > img{
	margin-bottom: 12px;
	
}
.middlecol{
border-bottom: 1px solid black;
padding-bottom: 5px;
}
.middlecol > p{
	    font-size: 12px;
       text-decoration: line-through;
    margin: 5px 0;
}
.middlecol > span{
	color: red;
    font-size: 15px;
    font-weight: bold;
}
.lowercol {
    font-size: 11px;
    color: black;
    font-weight: bold;
    }
  .lowercol >p> span{
	    color: lightblue;
  }
  .uppercol{
  	padding: 5px;
  	border-bottom: 1px solid black;
  }
  .table-button{
  	background-color:#ffd400;
    width: 90%;
    font-size: 14px;
    margin: 0 5%;
    margin-bottom: 20px;

  }
  .item-wrapper {
    margin: 20px;
}
.number-of-item {
    display: inline-block;
    width: 10%;
    height: 32px;
    padding-top: 2px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    background: lightblue;
    color: #fff;
    }
 .item{
 	    display: inline-block;
    width: 77%;
    vertical-align: top;
 }
 .title-item{
 	color: black;
    font-family: "RobotoBold";
    font-size: 15px;
    line-height: 17px;
    padding: 5px 0 0 5px;
    height: 39px;
 }
.descritem{
	color: black;
    font-weight: bold;
	height: 45px;
    font-size: 11px;
}
.item-wrapper > img{
	border-radius: 5px;
	height: 229px;
    width: 335px;
}
.wrapper-info{
	background-color: rgba(30, 105, 222, 0.06);;
}
h2{
	text-align: center;
    font-size: 30px;
    color: black;
}
.icon{
	display:inline-block;
	width:25%;
}
.wrapper-description{
	margin: 10px;
}
.description {
    display: inline-block;
    font-size: 15px;
    color: black;
    font-weight: bold;
    padding-left: 5px;
    width: 73%;
    vertical-align: middle;
 }
 .description >p> span{
 	color: red;
 }
 .order{
 	background: radial-gradient(at 95% 30% ,#ebf1f6, #1e69de);
 }
 .orderdescription > h3{
 	color: #fff;
    font-size: 27px;
    font-weight: lighter;
    margin-bottom: 0;
 }
 .orderdescription > p{
 	color: #fff;
 	height: 40px;
 } 
 .get-order{
	text-align: center;
    font-size: 35px;
    color: black;
    font-family: "RobotoBold";
 }
 .get-order-list > p{
 	margin: 0;
    text-align: center;
    color: black;
    font-size: 13px:;
 }
 .get-order-list{
 	text-align: center;
 }

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.table-button{
		font-size:13px;
	}
	.wrapperform > p{
		font-size:14px;
	}
	header h1{
		font-size:24px;
	}
	.paragraph_mid_descr{
		    
		    font-size: 13px;
	}
	.wrapperform::after{
		top:86px;
		border: 100px solid transparent;
		border-top: 20px solid #ffd400;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.get-order-form{
		width:50%;
		margin: 0 auto;
	}
	.number-of-item{
		width:8%;
	}

	table,.table-button{
	width:50%;
	}
table{
	margin-bottom:3px;
	height: 200px;
}
.table-button{
	margin: 0 25% 15px;
}
	.wrapperform::after{
	top: 66px;
    border: 125px solid transparent;
    border-top: 20px solid #ffd400;
	}

	button.button.main_button {
    width: 90%;
}
	header h1{
		font-size:19px;
	}
	.border_wrapperform{
		width:50%;
		margin: 0 auto 10px;
	}
	.paragraph_mid_descr{
		    padding: 15px 0 0 0;
	}
	
	.button{
		font-size:11px;
	}
	.right_info>p.minidescription {
		font-size: 9px;
	}
}
.top-line-footer{
	    background-color: rgb(68, 101, 151);
}
123
@media only screen and (max-width : 874px) {
	header h1{
		font-size:18px;
		text-align: center;
	}
	.descrunderh1{
		font-size:12px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.main_logo{
		text-align:center;
	}
	.paragraph_mid_descr {
    padding: 10px 0px 0 25px;
}
.right_info{
	text-align:center;
	margin-left: 25px;
}
.button{
	float:none;
	width:34%;
	margin: 5px auto;
}
.right_info > p {
	float: none;
}	    
}
@media only screen and (max-width : 756px) {
	.wrapperform::after{
	top: 66px;
    border: 122px solid transparent;
    border-top: 20px solid #ffd400
	}
}
@media only screen and (max-width : 714px) {
	.wrapperform::after{
	top: 66px;
    border: 118px solid transparent;
    border-top: 20px solid #ffd400
	}
	}
@media only screen and (max-width : 694px) {
	.wrapperform::after{
	top: 66px;
    border: 115px solid transparent;
    border-top: 20px solid #ffd400
	}
}
@media only screen and (max-width : 686px) {
.wrapperform::after{
	top: 86px;
    border: 110px solid transparent;
    border-top: 20px solid #ffd400;
	}	
}
@media only screen and (max-width : 619px) {
	.orderdescription > h3{
		font-size: 22px;
	}
	.button{
		width: 50%;
	}
		.wrapperform > p{
			font-size: 12px;
		}
		.lowerdescrform{
			font-size: 9px;
		}
}
@media only screen and (max-width : 547px) {
.wrapperform::after{
	top: 74px;
    border: 90px solid transparent;
    border-top: 20px solid #ffd400;
}

	}
@media only screen and (max-width : 547px) {
		.wrapperform>p{
			padding:6px 8px 0;
		}
.wwrapperform::after{
	top: 74px;
    border: 82px solid transparent;
    border-top: 20px solid #ffd400;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.orderdescription > h3{
		font-size: 19px;
	}
	.number-of-item{
		width:11%;
	}
	.descritem{
		margin-bottom: 15px;
	}
	.wrapperform::after{
	top: 74px;
    border: 75px solid transparent;
    border-top: 20px solid #ffd400;
}
	.button{
		width: 75%;
	}
	.table-button{
		width:50%;
	}
}
